<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="/static/bootstrap-5.3.3-dist/css/bootstrap.min.css">
    <script src="/static/bootstrap-5.3.3-dist/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-5">Our Products</h1>
        <div class="row">
            {% for product in products %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">{{ product.name }}</h2>
                            <p class="card-text">{{ product.description }}</p>
                            {% for price in product.prices %}
                                {% if price.active %}
                                    <p class="card-text"><strong>Price:</strong> {{ price.price / 100 }} EUR</p>
                                {% endif %}
                            {% endfor %}
                            <a href="{{ url_for('view_product', id=product.id) }}" class="btn btn-primary">View Product</a>
                            <a href="#" class="btn btn-primary add-to-cart" data-product-id="{{ product.id }}">Add to Cart</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>